<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="thealphalabs.alphaapp" >

    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.BIND_ACCESSIBILITY_SERVICE" />
    <uses-permission android:name="ANDROID.PERMISSION.BIND_NOTIFICATION_LISTENER_SERVICE" />
        <application
        android:name=".AlphaApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:logo="@mipmap/logo"
        android:theme="@style/AppTheme"
        tools:replace="android:icon" >

        <!-- 서비스 -->
        <service
            android:name="thealphalabs.bluetooth.BluetoothTransferService"
            android:enabled="true" />
        <service
            android:name="thealphalabs.wifip2p.WifiTransferService"
            android:enabled="true" />
        <service
            android:name=".services.NotificationService"
            android:label="@string/notification_service_label"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE" >
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>

            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/notification_service_config" />
        </service>

        <!-- 액티비티 -->
        <activity
            android:name=".GlassAppMain"
            android:label="@string/app_name"
            android:theme="@style/CustomHeaderLight"
            android:uiOptions="splitActionBarWhenNarrow" >
            <meta-data
                android:name="android.support.v4"
                android:value="splitActionBarWhenNarrow" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LicenseActivity"
            android:label="@string/title_activity_license" >
        </activity>
        <activity
            android:name=".BluetoothActivity"
            android:label="@string/title_activity_bluetooth" >
        </activity>
        <activity
            android:name=".bluetooth.DeviceListActivity"
            android:label="DeviceListActivity" />
        <activity
            android:name=".fragment_test"
            android:label="@string/title_activity_fragment_test" >
        </activity>
    </application>

</manifest>
